@font-face {
    font-family: 'Oxanium-Bold';
    src: url('../fonts/Oxanium-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Oxanium-ExtraBold';
    src: url('../fonts/Oxanium-ExtraBold.ttf') format('truetype');
}
@font-face {
    font-family: 'Oxanium-ExtraLight';
    src: url('../fonts/Oxanium-ExtraLight.ttf') format('truetype');
}
@font-face {
    font-family: 'Oxanium-Light';
    src: url('../fonts/Oxanium-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Oxanium-Medium';
    src: url('../fonts/Oxanium-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Oxanium-Regular';
    src: url('../fonts/Oxanium-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Oxanium-SemiBold';
    src: url('../fonts/Oxanium-SemiBold.ttf') format('truetype');
}

